node_modules
npm-debug.log
# [nextra] Init git repository failed Discover git repo from [/app] failed 
# .git
.env
.env.*

# Ignore generated credentials from google-github-actions/auth
gha-creds-*.json