@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 210 40% 98%;
		--foreground: 217 32.6% 17.5%;
		--card: 210 40% 98%;
		--card-foreground: 217 32.6% 17.5%;
		--popover: 210 40% 98%;
		--popover-foreground: 217 32.6% 17.5%;
		--primary: 234 89.5% 73.9%;
		--primary-foreground: 210 40% 98%;
		--secondary: 172 66% 50.4%;
		--secondary-foreground: 210 40% 98%;
		--muted: 0 0% 63.9%;
		--muted-foreground: 210 40% 98%;
		--accent: 351 94.5% 71.4%;
		--accent-foreground: 210 40% 98%;
		--destructive: 0 0% 63.9%;
		--destructive-foreground: 210 40% 98%;
		--border: 204 93.8% 93.7%;
		--input: 204 93.8% 93.7%;
		--ring: 172 66% 50.4%;
		--hover: 214 31.8% 91.4%;
		--radius: 0.5rem;
		--chart-1: 12 76% 61%;
		--chart-2: 173 58% 39%;
		--chart-3: 197 37% 24%;
		--chart-4: 43 74% 66%;
		--chart-5: 27 87% 67%;
	}

	.dark {
		--background: 215 19.3% 34.5%;
		--foreground: 210 40% 98%;
		--card: 215 19.3% 34.5%;
		--card-foreground: 210 40% 98%;
		--popover: 215 19.3% 34.5%;
		--popover-foreground: 210 40% 98%;
		--primary: 234 89.5% 73.9%;
		--primary-foreground: 210 40% 98%;
		--secondary: 172 66% 50.4%;
		--secondary-foreground: 210 40% 98%;
		--muted: 0 0% 63.9%;
		--muted-foreground: 210 40% 98%;
		--accent: 351 94.5% 71.4%;
		--accent-foreground: 210 40% 98%;
		--destructive: 0 0% 63.9%;
		--destructive-foreground: 210 40% 98%;
		--border: 204 93.8% 93.7%;
		--input: 204 93.8% 93.7%;
		--ring: 172 66% 50.4%;
		--hover: 215 20.2% 65.1%;
		--chart-1: 220 70% 50%;
		--chart-2: 160 60% 45%;
		--chart-3: 30 80% 55%;
		--chart-4: 280 65% 60%;
		--chart-5: 340 75% 55%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

.loader {
	border: 8px solid rgba(255, 255, 255, 0.3);
	border-top: 8px solid hsl(172, 66%, 50.4%);
	border-radius: 50%;
	width: 64px;
	height: 64px;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
