@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 210 40% 98%;
		--foreground: 217 32.6% 17.5%;
		--card: 210 50% 98%;
		--card-foreground: 217 32.6% 17.5%;
		--popover: 210 50% 98%;
		--popover-foreground: 217 32.6% 17.5%;
		--primary: 234 80% 70%;
		--primary-foreground: 210 40% 98%;
		--secondary: 172 60% 50%;
		--secondary-foreground: 210 40% 98%;
		--muted: 210 40% 98%;
		--muted-foreground: 0 0% 70%;
		--accent: 351 90% 70%;
		--accent-foreground: 210 40% 98%;
		--destructive: 0 0% 70%;
		--destructive-foreground: 210 40% 98%;
		--border: 204 80% 90%;
		--input: 204 80% 90%;
		--ring: 172 60% 50%;
		--hover: 210 45% 95%;
		--radius: 0.5rem;
		--chart-1: 12 76% 61%;
		--chart-2: 173 58% 39%;
		--chart-3: 197 37% 24%;
		--chart-4: 43 74% 66%;
		--chart-5: 27 87% 67%;
	}

	.dark {
		--background: 200 15% 20%;
		--foreground: 200 80% 90%;
		--card: 200 20% 25%;
		--card-foreground: 200 80% 90%;
		--popover: 200 20% 25%;
		--popover-foreground: 200 80% 90%;
		--primary: 234 89.5% 73.9%;
		--primary-foreground: 200 80% 90%;
		--secondary: 172 66% 50.4%;
		--secondary-foreground: 200 80% 90%;
		--muted: 200 80% 90%;
		--muted-foreground: 0 0% 40%;
		--accent: 351 94.5% 71.4%;
		--accent-foreground: 200 80% 90%;
		--destructive: 0 0% 40%;
		--destructive-foreground: 200 80% 90%;
		--border: 200 30% 35%;
		--input: 200 30% 35%;
		--ring: 172 66% 50.4%;
		--hover: 200 25% 30%;
		--radius: 0.5rem;
		--chart-1: 220 70% 50%;
		--chart-2: 160 60% 45%;
		--chart-3: 30 80% 55%;
		--chart-4: 280 65% 60%;
		--chart-5: 340 75% 55%;
	}

	* {
		@apply border-border;
	}

	body {
		@apply bg-background text-foreground;
	}

	.loader {
		@apply border-8 border-white border-opacity-30 rounded-full w-16 h-16;
		border-top-color: hsl(var(--secondary));
		animation: spin 1s linear infinite;
	}

	.icon-size {
		@apply w-5 h-5;
	}

	.icon-button {
		@apply w-8 h-8 p-1.5 rounded-md flex justify-center items-center bg-background text-foreground hover:bg-hover;
	}

	.heading {
		@apply text-2xl font-semibold leading-none tracking-tight;
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
